<div class="contenedor">
    <link rel="stylesheet" href="/css/login.css">
    <div class="card">
        <div class="card-header">
            <h1>Register</h1>
        </div>
        <form class="form-group" action="/signup" method="POST">
            <div class="name-card">
                <input type="text" id="name-user" name="name" placeholder="Name">
                <span data-placeholder="Name"></span>
            </div>
            <div class="name-card">
                <input type="text" id="apellido" placeholder="Surname" name="surname">
            </div>
            <div class="name-card">
                <input type="text" name="email" placeholder="Email or Phone">
            </div>
            <div class="name-card">
                <input type="password" id="contrasena" name="password" placeholder="Password">
                <!--Para hacerla visible se pone un checkbox y una funcion-->
            </div>
            <div class="contrasena">
                <input type="checkbox" onclick="myFunction()">   Show Password
            </div>

           <button class="glow-on-hover" type="submit">SignUp</button>
           <a href="/">Login</a>
        </form>
    </div>
</div>

<!--Checkbox-->

<script>
    function myFunction() {
        var x = document.getElementById("contrasena");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
            }
        }
</script>
